extends layout

block content
	include mixins/mixin
	+navbar

	div.d-flex.justify-content-center.post-form
		form(method='POST' action='')
			div.form-group.form-row
				label.col-sm-3.col-form-label.col-form-label-sm(for='title') Title:
				div.col-sm-9
					input#title.form-control.form-control-sm(type='text' placeholder='Title' name='title' required='true')
			div.form-group.form-row
				label.col-sm-3.col-form-label.col-form-label-sm(for='body') Body:
				div.col-sm-9
					textarea#body.form-control.form-control-sm(placeholder='Body' name='body' required='true' rows='8' maxlength='150')

			button.btn.btn-sm.btn-primary.btn-block(type='submit') Post 
