mixin navbar
	nav.navbar.navbar-expand-md.navbar-light.bg-light
		div.collapse.navbar-collapse
			div.navbar-nav
				a.nav-item.nav-link(href='#') Posts
				a.nav-item.nav-link(href='#') New Post
				a.nav-item.nav-link(href='#') Logout
