mixin navbar
	nav.navbar.navbar-expand-md.navbar-light.bg-light
		div.collapse.navbar-collapse
			div.navbar-nav
				a.nav-item.nav-link(href='/post') Posts
				a.nav-item.nav-link(href='/post/create') New Post
				a.nav-item.nav-link(href='/logout') Logout
